.EduHomeCard {
    border: 1.5px solid #32b57e68;
    border-top: 6px solid #32b57e68;
    min-width: 235px;
    width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.EduHomeCard .pg-crd-btn {
    font-size: 1.1rem;
}

.pg-sec .Edu_Home_card_Img {
    width: 100px;
    height: 100px;
    background: rgba(16, 100, 65, 0.881);
    display: flex;
    border: 3px dashed whitesmoke;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
    font-size: 32px;
    padding: 10px;
    border-radius: 50%;
}

.Edu_Home_card_Img img {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* Registration Button */

.rsgrt-btn,
.AdminLogin-btn {
    position: fixed;
    top: 165px;
    right: -40px;
    padding: 8px 16px;
    background-color: #32b57e2a;
    cursor: pointer;
    border: 2px solid #267252;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.66);
    font-size: 1.2rem;
    color: #15543a;
    z-index: 1;
    border-radius: 20px;
    rotate: 270deg;
}

.AdminLogin-btn{
    top: 320px;
}

.rsgrt-btn:hover,
.AdminLogin-btn:hover {
    background-color: white;
    color: black;
}

.rsgrt-btn:active,
.AdminLogin-btn:active {
    background-color: #267252;
    color: whitesmoke;
}