.edu-pg-grd-sec {
    height: 86vh;
    margin-top: 3px;
    object-fit: cover;
    position: relative;
    margin: 15px 0px 0px 0px;
}

.edu-pg-grd-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.78;
}

.txt-over-img {
    width: 98%;
    height: 88%;
    position: absolute;
    left: 8px;
    top: 40px;
    color: rgb(240, 255, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-over-img h1 {
    font-size: 2rem;
    margin: 3px;
}

.txt-over-img h1 strong{
    color: rgb(5, 230, 5);
}

.pg-desc {
    width: 80%;
    color: blanchedalmond;
    text-align: center;
}

.card-Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
    justify-content: center;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.534);
    margin-bottom: 10px;
}

.crd-icn-title-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.icons{
    font-size: 3.5rem;
    padding: 10px;
    border-radius: 50%;
    background-color: aliceblue;
    color: green;
}

.edu-pg-crd-btn{
    width: 200px;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    color: aliceblue;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    border: none;
}