.edu-pg-sec {
    margin-top: 3px;
    object-fit: cover;
    position: relative;
    margin: 15px 0px 0px 0px;
}

.edu-pg-sec::-webkit-scrollbar {
    display: none;
}

.edu-pg-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.78;
}

.content-cont {
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-cont h1,
.other-resoures-h2 {
    font-size: 2rem;
    margin: 3px;
    text-align: center;
}

.content-cont h1 strong,
.other-resoures-h2 strong {
    color: #32b57e;
}

/* Registration Button */

.rsgrt-btn {
    position: fixed;
    top: 165px;
    right: -40px;
    padding: 8px 16px;
    background-color: #32b57e2a;
    cursor: pointer;
    border: 2px solid #267252;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.66);
    font-size: 1.2rem;
    color: #15543a;
    z-index: 1;
    border-radius: 20px;
    rotate: 270deg;
}

.rsgrt-btn:hover {
    background-color: white;
    color: black;
}

.rsgrt-btn:active {
    background-color: #267252;
    color: whitesmoke;
}

/* Other Reasoures */

.other-resoures-h2 {
    margin-top: 100px;
}

.edu-pg-desc {
    width: 80%;
    text-align: center;
}

.card-Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.lst-crd-cont {
    margin-bottom: 80px;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    border-radius: 20px;
    background-color: azure;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px black;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px black;
    background-color: white;
}

.crd-icn-title-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.icons {
    font-size: 3.5rem;
    padding: 10px;
    border-radius: 50%;
    background-color: aliceblue;
    color: green;
}

/* Visit Button */

.edu-pg-crd-btn {
    width: 200px;
    padding: 8px;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    font-weight: 550;
    border: 2px solid green;
    background: linear-gradient(90deg, #267252, #32b57e);
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}

.edu-pg-crd-btn:hover {
    color: green;
    background: transparent;
}

.edu-pg-crd-btn:active {
    transform: translateY(2px) scale(0.97);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: green;
    color: whitesmoke;
}