/* =====================================================
   RATE US SECTION
===================================================== */
.rateUsStrCont {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.rateUsForm {
    text-align: center;
}

.ratusStr {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.356);
    cursor: pointer;
    transition: 0.5s;
}

.ratusStr:hover {
    transform: scale(1.2);
    rotate: 40deg;
}

.ratedStr {
    color: gold;
}

.rateUsSubmtBtn {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #21ac70;
    color: whitesmoke;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.5s;
}

.rateUsSubmtBtn:hover {
    background-color: #0a673f;
}

.rateUsSubmtBtn:active {
    background-color: whitesmoke;
    color: #0a673f;
}

@media (max-width: 440px) {
    .reviewSec {
        gap: 10px !important;
    }

    .reviewSec p {
        text-align: center;
        display: none;
    }

    .rateUsSubmtBtn {
        margin-top: 0px;
        width: 110px;
        height: 40px;
    }
}