.addressingPara{
   margin-bottom: 20px;
   color: #0d915a;
   font-weight: 600;
}

.galleryAdrsPara{
    font-style: italic;
    margin-bottom: 30px;
}

.dshbrdGalryImgsheadCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dshbrdGalryImgCont {
    position: relative;
    transition: 0.4s;
}

.dshbrdGalryImg {
    max-width: 300px;
    min-width: 230px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
}

.dshbordGalryImgGlassLyr {
    position: absolute;
    top: 0px;
    border-radius: 20px;
    width: 100%;
    height: 98%;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.228);
}

.GalleryhiddenFileFields{
    height: 0px;
    padding: 0;
    margin: 0;
}

.dshbordGalryImgAdder {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0d915a;
    display: flex;
    font-size: 2.3rem;
    color: aliceblue;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
}

.dshbrdGalryImgCont:hover .dshbordGalryImgGlassLyr {
    opacity: 1;
}

.dshbrdGalryImgCont:hover {
    transform: scale(1.1);
    rotate: 2deg;
}

.GalryCrdIncreaserCrd {
    width: 280px;
    min-width: 230px;
    border-radius: 20px;
    height: 180px;
    border: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
}