.AddField {
    width: 30px;
    height: 30px;
    border: 2px solid #0d915a;
    color: #0d915a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 6px;
    cursor: pointer;
}

.deleteField {
    width: 45px;
    height: 43px;
    border: 2px double #d11a2a;
    color: #d11a2a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.facilitiesCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 10px;
}

.dshbrdCheckbox {
    box-shadow: 0px 0px 0px transparent;
}

.facilityItem {
    display: flex;
    align-items: center;
}

.facilityNme {
    font-family: Outfit;
    margin-left: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

.AddFacility{
    margin-top: 10px;
}