.Tech-pg-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.78;
}

.tech-pg-desc {
    width: 80%;
    text-align: center;
}

.tech-cards{
    margin-top: 20px;
}

.crd-img-title-div {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
}