/* Specific education catagory page styling */
/* Institute and cata(catagory) can be school , college , online courses etc*/
.edu-cata-pg-sec {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 20px;
}

/* Left Sector Styling (List container) */
.lft-sec {
    min-height: 90vh;
    padding: 40px 5px 15px 0px;
    box-shadow: 0px 0px 10px #267252;
    overflow-y: scroll;
}

.lft-sec::-webkit-scrollbar {
    display: none;
}

.sector {
    background-color: #267252;
    color: white;
    font-size: 27px;
    padding: 5px 0px 5px 25px;
    margin: 4px 4px 15px 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    cursor: pointer;
}

.institute-hd {
    margin: 0;
    padding: 8px 0px 0px 8px;
}

.institute-lst {
    margin: 5px 0 5px 18px;
}

.institute-lst li {
    padding: 6px 0px 6px 16px;
    list-style: none;
    cursor: pointer;
}

.institute-lst li:hover {
    background: linear-gradient(-140deg, whitesmoke 14.7%, #027646 5%);
    color: white;
    border: 1px solid black;
}

/* Main Sector Styling */
.main-sec {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 40px;
    margin-bottom: 100px;
    height: 100vh;
    overflow-y: scroll;
}

.main-sec::-webkit-scrollbar {
    display: none;
}

.cata-pg-banner {
    min-height: 35vh !important;
    width: 94%;
    margin-top: 10px;
    background-image: url("https://images.pexels.com/photos/27276221/pexels-photo-27276221.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cata-pg-main-hd {
    text-align: center;
    color: #035231 !important;
    text-shadow: -1.5px 0.5px yellow;
    margin: 10px 0px;
}

.cata-pg-banner p {
    width: 88%;
    color: rgb(255, 244, 232) !important;
    text-align: center;
    margin-bottom: 10px;
}

.cata-card-cont {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 5px 5px 5px;
    margin-bottom: 50px;
}

.cata-pg-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 300px;
    padding: 7px;
    box-shadow: 0px 0px 10px black;
}

.cata-pg-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.cata-pg-card-content {
    position: relative;
    padding: 10px 10px 10px 0px;
}

.starsCont {
    position: absolute;
    top: -25px;
    right: 5px;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.468);
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2px;
}

.cata-pg-card-content h3 {
    margin: 0px 0px 6px 0px;
    font-size: 20px;
    color: #333;
}

.cata-pg-card-content p {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    color: #666;
    line-height: 1.34;
}

.cata-pg-card-btn {
    padding: 7px 14px;
    border: none;
    border-radius: 4px;
    background: #007aff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cata-pg-card-btn:hover {
    background: #005bb5;
}

.showLstBtn {
    display: none;
}

/* Styling for catagory single page */

.cata-web-hrdr {
    background-color: azure;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
}

.cata-web-hrdr h1 {
    margin-bottom: 15px;
    text-align: center;
}

.cata-web-hrdr p {
    text-align: center;
}

.section {
    background: white;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.contact {
    margin-bottom: 60px;
}


.section h2 {
    margin-top: 0;
    color: #2a6fdb;
}


.info-list {
    list-style: none;
    padding-left: 0;
}


.info-list li {
    padding: 6px 0;
    border-bottom: 1px solid #eee;
}

/* Responsiveness : MEDIA QUERRIES */

@media (max-width: 965px) {
    .edu-cata-pg-sec {
        display: flex;
        padding: 40px 5px 0px 5px;
    }

    .lft-sec {
        position: fixed;
        left: -500px;
        z-index: 1001;
        height: 100vh;
        top: 0px;
        transition: 1s;
    }

    .mid-sec {
        width: 100%;
    }

    /* Toggle Button */
    .showLstBtn {
        position: absolute;
        top: 0px;
        right: 10px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        color: #fff;
        cursor: pointer;
        z-index: 1;
        background-color: green;
    }

    /* List of Institutes */
    .showList {
        left: 0px;
        top: 0px;
        padding-top: 20px;
        background-color: whitesmoke;
        box-shadow: 0px 0px 5px black;
    }

    .institute-hd-lst {
        background-color: transparent;
    }

}

@media (max-width: 680px) {
    .cata-pg-banner p {
        display: none;
    }
}